.search {
  position: relative;
  padding: 13px 35px 13px 14px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  color: #C4C4C4;
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.17);
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 95%;
}